/*.cont
{
    margin: 0 auto;
    width: 80%;
    border: 1px solid rgb(226, 221, 221);
}
.num
{
    background-color: green;
    color: white;
    padding: 5px;
}
.card-body
{
    height: 71px;
    background-color: #f5f0f0;
}
.form-control
{
    width: 60%;
    margin-right: 40px;
}*/