<!--<div class="container-fuild">
    
    <navbar></navbar>
       
    <div class="row">
        <div class="col-lg-3" style="border: 1px solid red">
            <collectionnews [news]="tops"></collectionnews>
        </div>
        <div class="col-lg-6" style="border: 1px solid red">
            <router-outlet></router-outlet>
        </div>
        <div class="col-lg-3" style="border: 1px solid red">
            <collectionnews [news]="featers"></collectionnews>
        </div>

    </div>

</div>-->



<header></header>
<router-outlet></router-outlet>
<h1>footer</h1>

